/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root .theme_light {
  --accent-color: #ff8dcb;
  --contrast-accent-color: #353430;
  --contrast-bg-color: #353430;
  --contrast-bg-color-rgb: 53, 52, 48;
  --text-color: #353430;
  --bg-color: #fff1f7;
  --title-color: #ffc2e6;
}

@media (prefers-color-scheme: light) {
  :root {
    --accent-color: #ff8dcb;
    --contrast-accent-color: #353430;
    --contrast-bg-color: #353430;
    --contrast-bg-color-rgb: 53, 52, 48;
    --text-color: #353430;
    --bg-color: #fff1f7;
    --title-color: #ffc2e6;
  }

  .page {
    background-image: url(../images/cover-image-light.png);
  }

  .header__lightbulb {
    display: none;
  }
}

.theme_light {
  background-image: url(../images/cover-image-light.png);
}

.theme_light .header__lightbulb {
  display: none;
}