/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  font-family: "IBM Plex mono";
  font-size: 18px;
  background-image: url(../images/cover-image-dark.png);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  padding: var(--header-padding);
  background-color: var(--bg-color);
}

/* ======================= HEADER ======================= */

.header {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  position: relative;
  min-height: calc(100vh - var(--header-padding) * 2);
}

.header__lightbulb {
  justify-self: end;
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
}

.header__lightbulb-text {
  color: var(--accent-color);
  line-height: 25px;
  margin-right: 3px;
}

.decor-corners {
  width: 24px;
  height: 24px;
  display: inline-block;
  position: relative;
  border-style: solid;
  border-width: 1px 1px 0px 0px;
  border-color: var(--accent-color);
  justify-self: end;
}

.decor-corners--rotated {
  transform: rotate(180deg);
  justify-self: start;
}

.decor-circle {
  position: absolute;
  inset: 50% 50%;
  display: inline-block;
  width: 9px;
  height: 9px;
  background-color: var(--accent-color);
  border-radius: 50%;
  box-shadow: 0 0 4px 2px #ff0070;
  transform: translate(-50%, -50%);
}

.header__theme-menu {
  justify-self: end;
}

.header__theme-menu-list {
  list-style: none;
  margin-block-start: 65px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.header__theme-menu-button {
  background-color: transparent;
  border: none;
  color: var(--contrast-bg-color);
  text-transform: lowercase;
  padding: 0 13px;
  line-height: 22px;
  border: 1px solid transparent;
}

.header__theme-menu-button:hover {
  border-color: rgb(var(--contrast-bg-color-rgb), 0.5);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  outline: none;
  box-shadow: 0 -1px 0 var(--contrast-bg-color) inset;
}


.header__theme-menu-button_active {
  border: 1px solid var(--contrast-bg-color);
  pointer-events: none;
}

.header__title {
  color: var(--title-color);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: 700;
  line-height: 96px;
  text-shadow: 4px 4px var(--accent-color);
  margin-block-start: 65px;
}

.header__subtitle {
  background-color: var(--accent-color);
  color: var(--contrast-accent-color);
  font-weight: 700;
  line-height: 23px;
  width: max(355px, 50%);
  justify-self: end;
  align-self: center;
  margin-block: 55px 30px;
}

/* ======================= CONTENT ======================= */

.content {
  margin-block-start: 40px;
}

.info {
  display: flex;
  gap: clamp(3.125rem, 1.3359rem + 7.6336vw, 5rem);
  flex-direction: column;
}

.info__block {
  display: grid;
  gap: 20px;
}

.info__container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.info__container-block {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.info__block-title {
  color: var(--contrast-bg-color);
  line-height: 23px;
  font-weight: 700;
  font-size: 18px;
}

.accent-title {
  width: 100%;
  background-color: var(--accent-color);
  color: var(--contrast-accent-color);
  line-height: 23px;
  font-weight: 700;
  font-size: 18px;
}

.info__container-paragraph {
  color: var(--text-color);
}

.info__container-block__paragraph-link {
  display: inline-block;
  text-decoration: none;
  position: relative;
  text-shadow: 2px 2px var(--accent-color);
  height: 13px;
  padding: 0 2px;
  line-height: 10px;
}

.info__container-block__paragraph-link:hover {
  text-decoration: underline;
  text-underline-offset: 3px;
}

.info__container-block__paragraph-link:focus {
  outline: none;
}

.info__container-block__paragraph-link:focus-visible {
  outline: 1px solid var(--text-color);
}

.info__container-title {
  background-color: var(--accent-color);
  color: var(--contrast-color);
  font-weight: 700;
}

.info__container-block__subtitle {
  width: 100%;
  background-color: var(--accent-color);
  color: var(--contrast-accent-color);
  line-height: 23px;
  font-weight: 400;
  line-height: 23px;
}

.content__section-images {
  margin-block-start: clamp(3.125rem, 1.3359rem + 7.6336vw, 5rem);
}

.gallery {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr;
  margin-block-start: 10px;
}

.gallery__item {
  width: 100%;
  overflow: hidden;
}

.gallery__image {
  object-fit: cover;
  object-position: center;
  height: 100%;
  width: 100%;
}

/* ======================= FOOTER ======================= */

.footer {
  display: grid;
  margin-block-start: 50px;
}

.footer__title {
  justify-self: center;
  color: var(--title-color);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: 700;
  line-height: 96px;
  text-shadow: 2px 2px var(--accent-color);
  margin-block: 250px;
}

@media (width > 767px) {
  .header__theme-menu-list {
    margin-block-start: 172px;
  }

  .header__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    line-height: 100px;
    margin-block-start: 174px;
    margin-left: -20px;
  }

  .header__subtitle {
    margin-block: 162px 140px;
  }

  .info__block {
    grid-template-columns: repeat(3, 1fr);
  }

  .info__container {
    grid-column: 2 / span 2;
  }

  .info__block__column-direction {
    display: flex;
    flex-direction: column;
  }

  .info__container__column-direction {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .gallery {
    margin-block-start: 20px;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
  }

  .gallery__item-sunset {
    grid-column: 1 / span 2;
  }

  .gallery__item-icecream {
    grid-column: 3 / span 1;
    grid-row: 1 / span 2;
  }

  .gallery__item-tape {
    grid-row: 2 / span 2;
    grid-column: 1 / span 1;
  }

  .gallery__item-street {
    grid-column: 2 / span 2;
  }

  .footer {
    margin-block-start: 80px;
  }

  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    line-height: 100px;
    margin-block: 418px;
  }
}

@media (width > 1023px) {
  .header__theme-menu {
    justify-self: center;
    align-self: flex-start;
  }

  .header__theme-menu-list {
    flex-direction: row;
    gap: 10px;
    margin-block-start: 0;
  }

  .header__theme-menu-item:not(:last) {
    margin-block-end: 0;
  }

  .header__title {
    margin-block-start: 290px;
  }

  .header__subtitle {
    margin-block: 128px 90px;
  }

  .footer__title {
    margin-block: 274px;
  }
}
