/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  font-family: "IBM Plex mono", monospace;
  font-size: 18px;
  background-image: url(../images/cover-image-dark.png);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: var(--bg-color);
}

/* ======================= HEADER ======================= */

.header {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, auto);
  position: relative;
  min-height: 100vh;
  padding: 10px;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before,
.decorated-zone::after {
  content: "";
  z-index: 1;
  display: block;
  position: absolute;
  background: transparent;
}

.decorated-zone::before {
  width: 25px;
  height: 25px;
  right: 11px;
  top: 11px;
  box-shadow: 1px -1px var(--contrast-bg-color);
}

.decorated-zone::after {
  width: 25px;
  height: 25px;
  left: 11px;
  bottom: 11px;
  box-shadow: -1px 1px var(--contrast-bg-color);
}

.header__lightbulb {
  color: var(--accent-color);
  position: absolute;
  right: 19px;
  top: 11px;
}

.header__lightbulb::after {
  content: "";
  height: 9px;
  width: 9px;
  display: inline-block;
  background-color: var(--accent-color);
  box-shadow: 0 0 4px 2px var(--accent-color);
  border-radius: 100%;
  margin-inline-start: 10px;
  margin-block-end: 2px;
}

.header__theme-menu {
  justify-self: end;
}

.header__theme-menu-list {
  list-style: none;
  margin-block-start: 65px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.header__theme-menu-button {
  background-color: transparent;
  color: var(--contrast-bg-color);
  text-transform: lowercase;
  padding: 0 13px;
  line-height: 22px;
  border: 1px solid transparent;
}

.header__theme-menu-button:hover {
  border-color: rgb(var(--contrast-bg-color-rgb), 0.5);
  cursor: pointer;
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  outline: none;
  box-shadow: 0 -1px 0 var(--contrast-bg-color) inset;
}

.header__theme-menu-button_active {
  border: 1px solid var(--contrast-bg-color);
  pointer-events: none;
}

.header__title {
  color: var(--title-color);
  font-size: var(--logo-size);;
  font-weight: 700;
  line-height: 0.825;
  text-shadow: 4px 4px var(--accent-color);
  margin-block-start: 65px;
}

.header__subtitle {
  background-color: var(--accent-color);
  color: var(--contrast-accent-color);
  font-weight: 700;
  line-height: 23px;
  width: max(355px, 50%);
  justify-self: end;
  align-self: center;
  margin-block: 55px;
}

/* ======================= CONTENT ======================= */

.content {
  margin-block-start: 40px;
  padding: 0 10px;
}

.info {
  display: flex;
  gap: 50px;
  flex-direction: column;
}

.info__block {
  display: grid;
  gap: 20px;
}

.info__container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.info__container-block {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.info__block-title {
  color: var(--contrast-bg-color);
  line-height: 23px;
  font-weight: 700;
  font-size: 18px;
}

.accent-title {
  width: 100%;
  background-color: var(--accent-color);
  color: var(--contrast-accent-color);
  line-height: 1.3;
  font-weight: 700;
  font-size: 18px;
}

.info__container-paragraph {
  color: var(--text-color);
  line-height: 1.3;
}

.info__container-block__paragraph-link {
  display: inline-block;
  text-decoration: none;
  position: relative;
  text-shadow: 2px 2px var(--accent-color);
}

.info__container-block__paragraph-link:hover {
  box-shadow: 0 1px var(--text-color);
}

.info__container-block__paragraph-link:focus {
  outline: none;
}

.info__container-block__paragraph-link:focus-visible {
  outline: 1px solid currentColor;
}

.info__container-title {
  background-color: var(--accent-color);
  color: var(--contrast-color);
  font-weight: 700;
}

.info__container-block__subtitle {
  width: 100%;
  background-color: var(--accent-color);
  color: var(--contrast-accent-color);
  line-height: 1.3;
  font-weight: 400;
}

.content__section-images {
  margin-block-start: clamp(3.125rem, 1.3359rem + 7.6336vw, 5rem);
}

.gallery {
  display: grid;
  gap: 10px;
  grid-template-columns: 100%;
  grid-template-rows: repeat(5, auto);
  margin-block-start: 10px;
  width: 100%;
}

.gallery__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
}

/* ======================= FOOTER ======================= */

.footer {
  display: grid;
  margin-block-start: 40px;
  min-height: 100vh;
  padding: 10px;
  align-items: center;
  justify-content: center;
}

.footer__title {
  justify-self: center;
  color: var(--title-color);
  font-size: var(--logo-size);
  font-weight: 700;
  line-height: 0.825;
  text-shadow: 2px 2px var(--accent-color);
}

@media (width > 767px) {
  .header {
    padding: 20px;
  }

  .decorated-zone::before {
    width: 25px;
    height: 25px;
    right: 21px;
    top: 21px;
    box-shadow: 1px -1px var(--contrast-bg-color);
  }
  
  .decorated-zone::after {
    width: 25px;
    height: 25px;
    left: 21px;
    bottom: 21px;
    box-shadow: -1px 1px var(--contrast-bg-color);
  }
  
  .header__lightbulb {
    color: var(--accent-color);
    position: absolute;
    right: 29px;
    top: 21px;
  }

  .header__theme-menu-list {
    margin-block-start: 172px;
  }

  .header__title {
    line-height: 100px;
    margin-block-start: 174px;
    margin-left: -20px;
  }

  .header__subtitle {
    margin-block: 162px;
  }

  .content {
    margin-block-start: 60px;
    padding: 0 20px;
  }

  .info {
    gap: 80px;
  }

  .info__block {
    grid-template-columns: repeat(3, 1fr);
  }

  .info__block-dif-widths {
    grid-template-columns: 3430fr 3285fr 3285fr; /* ОТКУДА: в дизайне делится не на 3 равных столбца. Числа взяты из процентов умноженных на 1000 (БЕЗ ЭТОГО ТЕСТЫ НЕ ПРОХОДЯТ) */
  }

  .info__container {
    grid-column: 2 / span 2;
  }

  .info__block__difference {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto;
  }

  .info__block-title {
    grid-column: 1/2;
  }

  .info__container__difference {
    grid-column: 1 / span 3;
    grid-row: 2/3;
  }

  .gallery {
    margin-block-start: 20px;
    width: 100%;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
  }

  .gallery__item-sunset {
    grid-column: 1 / span 2;
  }

  .gallery__item-icecream {
    grid-column: 3 / span 1;
    grid-row: 1 / span 2;
  }

  .gallery__item-tape {
    grid-row: 2 / span 2;
    grid-column: 1 / span 1;
  }

  .gallery__item-street {
    grid-column: 2 / span 2;
  }

  .footer {
    margin-block-start: 60px;
    padding: 20px;
  }

}

@media (width > 1023px) {
  .header__theme-menu {
    justify-self: center;
    align-self: flex-start;
  }

  .header__theme-menu-list {
    flex-direction: row;
    gap: 10px;
    margin-block-start: 0;
  }

  .header__title {
    margin-block-start: 278px;
  }

  .header__subtitle {
    margin-block: 110px;
  }

  .info__block-dif-widths {
    grid-template-columns: repeat(3, 1fr);
  }

  .info__container__difference {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
